body{
    font-family: sans-serif;
}
h1{
    margin-top: 50px;
}
table {
    width: 100%;
    text-align: center;
  }
  thead {
    background-color: #ddd;
  }
  th {
    height: 50px;
  }

  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {background-color: #ddd;}